includes:
- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Parameter \#1 ...\$values of class Bakame\\DiceRoller\\CustomDice constructor expects array<int, int>, array<int, int\|false> given\.#'
    reportUnmatchedIgnoredErrors: true
